.ode_footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f7f7f7;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2rem;


      a {
        color: #000;
        text-decoration: wavy;
        font-size: 1.2rem;
      }

      a:hover {
        opacity: 0.7;
      }
  }

  ul:nth-child(2) {
    svg {
      color: #777;
    }
  }

  > p {
    font-size: 0.9rem;
    color: #777;
  }
}

.ode_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #f7f7f7;
  color: black;
  gap: 2rem;
  padding-top: 10rem;

  .features {
    margin-top: 3rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
    }

    p {
      font-size: 1.2rem;
      color: #777;
      text-align: center;
    }

    .features_list {
      display: flex;
      gap: 2rem;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        width: 33%;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        padding: 2rem;

        h2 {
          font-size: 1.5rem;
          font-weight: 700;
        }

        p {
          font-size: 1.2rem;
          color: #777;
          text-align: center;
        }
      }
    }
  }
}
